Newsletter/Connected Services/NewsletterService/NewsletterService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Newsletter.Service.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Newsletter.Service.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61745/NewsletterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Newsletter.Service.Entities" />
  <xs:import schemaLocation="http://localhost:61745/NewsletterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SubscriptionRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Newsletter.Service.Entities" minOccurs="0" name="Subscription" nillable="true" type="q1:Subscription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionRequest" nillable="true" type="tns:SubscriptionRequest" />
  <xs:complexType name="SubscriptionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:StatusCode" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Newsletter.Service.Entities" minOccurs="0" name="Subscription" nillable="true" type="q2:Subscription" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Newsletter.Service.Entities" minOccurs="0" name="Subscriptions" nillable="true" type="q3:ArrayOfSubscription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubscriptionResponse" nillable="true" type="tns:SubscriptionResponse" />
  <xs:simpleType name="StatusCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DatabaseError">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">100</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RecordNotFound">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">101</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InvalidData">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">102</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Success">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">200</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AlreadySubscribed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">201</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InternalError">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">300</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusCode" nillable="true" type="tns:StatusCode" />
</xs:schema>