Newsletter/Connected Services/NewsletterService/NewsletterService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewsletterService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61745/NewsletterService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61745/NewsletterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61745/NewsletterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Newsletter.Service.Messages" />
      <xsd:import schemaLocation="http://localhost:61745/NewsletterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Newsletter.Service.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INewsletterService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="INewsletterService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="INewsletterService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="INewsletterService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="INewsletterService_GetSubscription_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscription" />
  </wsdl:message>
  <wsdl:message name="INewsletterService_GetSubscription_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubscriptionResponse" />
  </wsdl:message>
  <wsdl:portType name="INewsletterService">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsletterService/Subscribe" message="tns:INewsletterService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsletterService/SubscribeResponse" message="tns:INewsletterService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsletterService/Unsubscribe" message="tns:INewsletterService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsletterService/UnsubscribeResponse" message="tns:INewsletterService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubscription">
      <wsdl:input wsaw:Action="http://tempuri.org/INewsletterService/GetSubscription" message="tns:INewsletterService_GetSubscription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INewsletterService/GetSubscriptionResponse" message="tns:INewsletterService_GetSubscription_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INewsletterService" type="tns:INewsletterService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Subscribe">
      <soap:operation soapAction="http://tempuri.org/INewsletterService/Subscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap:operation soapAction="http://tempuri.org/INewsletterService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubscription">
      <soap:operation soapAction="http://tempuri.org/INewsletterService/GetSubscription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NewsletterService">
    <wsdl:port name="BasicHttpBinding_INewsletterService" binding="tns:BasicHttpBinding_INewsletterService">
      <soap:address location="http://localhost:61745/NewsletterService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>