Newsletter/Connected Services/NewsletterService/NewsletterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61745/NewsletterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Newsletter.Service.Messages" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Newsletter.Service.Messages" minOccurs="0" name="request" nillable="true" type="q1:SubscriptionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Newsletter.Service.Messages" minOccurs="0" name="SubscribeResult" nillable="true" type="q2:SubscriptionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Newsletter.Service.Messages" minOccurs="0" name="request" nillable="true" type="q3:SubscriptionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Newsletter.Service.Messages" minOccurs="0" name="UnsubscribeResult" nillable="true" type="q4:SubscriptionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Newsletter.Service.Messages" minOccurs="0" name="request" nillable="true" type="q5:SubscriptionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Newsletter.Service.Messages" minOccurs="0" name="GetSubscriptionResult" nillable="true" type="q6:SubscriptionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>